{% extends "index.html" %} {% block content %}
<section id="profile">
  <div class="container">
    <h1 class="display-4 text-center my-2 py-5 fw-bold">{{user_profile.user.username}}'s Profile</h1>
    <div class="d-flex gap-2 justify-content-center py-5">
      <button
        class="btn btn-success d-inline-flex align-items-center"
        type="button"
      >
        Edit
      </button>
      <button
        class="btn btn-danger d-inline-flex align-items-center"
        type="button"
      >
        Delete
      </button>
    </div>
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <img
            src="{{user_profile.profile_img.url}}"
            alt="User-Profile"
            width="200px"
          />
          <h2 class="fs-3">{{user_profile.user.username}}'s</h2>
        </div>
        <div class="col">
          <h2>{{user_profile.user.first_name | default:'Full Name Not Available'}} {{user_profile.user.last_name}}</h2>
          <p class="fs-5"><i class="bi bi-gender-ambiguous"></i>{{user_profile.gender | default:'Gender Not Available'}}</p>
          <p class="fs-5"><i class="bi bi-geo-alt-fill"></i>{{user_profile.location | default:'Location Not Available'}}</p>
          <p class="fs-5">
            <i class="bi bi-file-earmark-person-fill"></i>{{user_profile.bio | default:'Bio Not Available'}}
          </p>
        </div>
      </div>
    </div>

    <hr />

    <div class="container my-5 py-3 text-center">
      <div class="row">
        <div class="col">
          <h3 class="py-3">Quiz Submission</h3>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Serial No</th>
                <th scope="col">Quiz</th>
                <th scope="col">Marks</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>9/10</td>
                <td>April 2026</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>4/10</td>
                <td>May 2024</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col">
          <h3 class="py-3">{{user_profile.user.username}}'s Performance</h3>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
